{% extends "base.html" %}
{% block content %}
     
    <script src="{{ url_for('static', filename='plot.js') }}"></script>
    <script type="text/javascript">

        // Set a callback to run when the Google Visualization API is loaded.
        google.load("visualization", "1.1", {packages: ['annotationchart']});
        google.setOnLoadCallback(drawChart);
        var tests = {{tests|tojson|safe}};
        console.log(tests);
        var metrics = []; // Array with metric names. Size = Number of plots
        
    </script>


    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">

            <li class="active"><a href = "#" id = "test.name" onClick="window.location.reload()">{{ tests.name }}_all <span class="sr-only">(current)</span></a></li>

            {% for t in tests.run_names %}

            <li><a href = "#" id = "{{ t }}" onClick="drawChart(this)">{{ t }}</a></li>

            {% endfor %}

          </ul>

        </div>

        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header">{{ tests.name }}</h1>

    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th></th>
          <th>
            Most Recent Recorded Value
          </th>
        </tr>
      </thead>
      <tbody>
      {% for t in tests.run_names %}
        <tr>
          <th class="text-nowrap" scope="row">{{t}} Commit</th>
          <td>{{tests.latest_commits[loop.index0]}}</td>
        </tr>
        <tr>
          <th class="text-nowrap" scope="row">{{t}} Execution Time</th>
          <td>{{tests.current_execution_times[loop.index0]}}</td>
        </tr>
        <tr>
          <th class="text-nowrap" scope="row">{{t}} Status</th>
          <td>{{tests.status[loop.index0]}}</td>
        </tr>
      {% endfor %}

      </tbody>
    </table>

    <div id="metrics">

        <h2 class="sub-header">Metrics</h2>
            <table class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th> Metric</th>
                    <th> Most Recent Recorded Value </th>
                </tr>
                </thead>
                <tbody>
                {% for t in tests.run_names %}
                    {% for metric in tests[t][0]['metrics'] %}
                    <tr>
                        <th class="text-nowrap" scope="row">{{metric}} </th>
                        <td>{{tests[t][tests[t]|length - 1]['metrics'][metric]}}</td>
                    </tr>
                    {% endfor %}

                {% endfor %}

                </tbody>
            </table>

    </div>


        </div>
      </div>
    </div>


{% endblock %}
